@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Licorice&family=Moon+Dance&display=swap');

html, body {
  width: 100%;
  height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator, .errors{
  margin: 0 auto;
  width: 350px;
}

.calculator {
  border: 1px solid #000000;
  border-radius: 20px;
  background: #788fad;
}

.expression {
  text-align: left;
}

.result {
  text-align: right;
}

.display-container {
  display: grid;
  width: 100%;
}

.display {
  overflow: auto;
  overflow-x: hidden;
  background: white;
  padding: 8px;
  margin: 15px;
  height: 90px;
  border-radius: 10px;
  text-align: right;
  font-size: x-large;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.display::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.display > *, .errors{
  font-family: var(--font-family);
}

.keyboard {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 80% 20%;
}

.keypad {
  grid-row: 2;
  display: grid;
  margin: 10px 0px 10px 10px;
  grid-gap: 5px;
  direction: rtl;
  /* rows / cols */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.right-options {
  display: grid;
  margin: 10px 10px 10px 5px;
  grid-row-gap: 5px;
  grid-row: 2;
  grid-column: 2;
}

.bottom-buttons {
  grid-row: 3;
  margin: 10px;
}

input[type='button'], button {
  border-radius: 15px;
  outline: 0;
  height: 3em;
  background: #bcdfd4;
}

input[type='button']:active, button:active {
  background-color: #ffdfd4;
  transform: translateY(3px);
}

input[type='button'].transform, button.transform {
  background-color: #ffdfd4;
  transform: translateY(3px);
}

.error {
  color: darkred;
  font-size: small;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .calculator {
    width: 100%;
    height: 99%;
  }
}

:root{
  --font-family: 'Courgette', cursive; /*'Moon Dance', cursive;*/
}
